PyYAML==3.10
launchpadlib==1.10.2
nose==1.2.1
requests==2.7.0
simplejson==2.2.1
httplib2==0.7.7
oauth==1.0.1
flake8==1.6.2
mock==1.0.1
coverage==3.7.1
charmworldlib==0.4.2
bzr==2.6.0
bundletester==0.5.2
pathspec==0.3.3
blessings==1.6
path.py==7.4
otherstuf==0.904
ruamel.yaml==0.10.2
responses==0.4.0
juju-deployer==0.4.3
jujuclient==0.50.1

