PyYAML==3.10
launchpadlib==1.10.2
nose==1.2.1
requests==1.1.0
simplejson==2.2.1
httplib2==0.7.7
oauth==1.0.1
flake8==1.6.2
mock==1.0.1
coverage==3.7.1
charmworldlib>=0.3.0
bzr>=2.6.0
bundletester
pathspec
blessings
path.py
otherstuf
ruamel.yaml
responses
